Repository draxxycodes/Universal-ZKV: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, solidity-fmt, prettier

rust-fmt:
  run: cd packages/stylus && cargo fmt --check

solidity-fmt:
  run: cd packages/contracts && forge fmt --check

prettier:
  run: pnpm exec prettier --check {staged_files}

fix: copy proof files to public directory for Vercel deployment
  apps/web/public/proofs/eddsa_verify_groth16_proof.json
  apps/web/public/proofs/eddsa_verify_groth16_public.json
  apps/web/public/proofs/eddsa_verify_plonk_proof.json
  apps/web/public/proofs/eddsa_verify_plonk_public.json
  apps/web/public/proofs/eddsa_verify_stark_proof.ub
  apps/web/public/proofs/merkle_proof_groth16_proof.json
  apps/web/public/proofs/merkle_proof_groth16_public.json
  apps/web/public/proofs/merkle_proof_plonk_proof.json
  apps/web/public/proofs/merkle_proof_plonk_public.json
  apps/web/public/proofs/merkle_proof_stark_proof.ub
  apps/web/public/proofs/poseidon_test_groth16_proof.json
  apps/web/public/proofs/poseidon_test_groth16_public.json
  apps/web/public/proofs/poseidon_test_plonk_proof.json
  apps/web/public/proofs/poseidon_test_plonk_public.json
  apps/web/public/proofs/poseidon_test_stark_proof.ub
  apps/web/src/lib/workflow-helpers.ts
Due: prettier

fix: properly await all async log operations in workflow
  apps/web/src/app/api/workflow/route.ts
  apps/web/src/lib/workflow-helpers.ts
Due: prettier

feat: add comprehensive error logging to workflow API
  apps/web/src/app/api/workflow/route.ts
Due: prettier

fix: remove manual JSON serialization - let Upstash Redis handle it
  apps/web/src/app/api/workflow/route.ts
  apps/web/src/lib/redis.ts
  apps/web/src/lib/workflow-helpers.ts
Due: prettier

fix: use correct Attestor contract function name
  apps/web/src/lib/workflow-helpers.ts
Due: prettier

fix: match attestation to working local script - use SHA256, contract instance, already-attested check
  apps/web/src/lib/workflow-helpers.ts
Due: prettier

chore: refresh deployment proofs with new random selections
  apps/web/public/proofs/eddsa_verify_groth16_proof.json
  apps/web/public/proofs/eddsa_verify_groth16_public.json
  apps/web/public/proofs/eddsa_verify_plonk_proof.json
  apps/web/public/proofs/eddsa_verify_plonk_public.json
  apps/web/public/proofs/merkle_proof_groth16_proof.json
  apps/web/public/proofs/merkle_proof_groth16_public.json
  apps/web/public/proofs/merkle_proof_plonk_proof.json
  apps/web/public/proofs/merkle_proof_plonk_public.json
  apps/web/public/proofs/poseidon_test_groth16_proof.json
  apps/web/public/proofs/poseidon_test_groth16_public.json
  apps/web/public/proofs/poseidon_test_plonk_proof.json
  apps/web/public/proofs/poseidon_test_plonk_public.json
  scripts/refresh-deployment-proofs.cjs
Due: prettier

feat: add website-proofs pool system for 9,000 unique proofs
  .gitignore
  apps/web/src/lib/workflow-helpers.ts
  scripts/generate-website-proofs.cjs
  scripts/refresh-deployment-proofs.cjs
Due: prettier

feat: integrate prepare-proofs into Vercel build process
  apps/web/package.json
  apps/web/scripts/prepare-proofs.cjs
Due: prettier

feat(stylus): Implement Verifier Algebra + enhance PLONK/STARK wrappers
  packages/stylus/Cargo.toml
  packages/stylus/rust-toolchain.toml
  packages/stylus/src/groth16.rs
  packages/stylus/src/lib.rs
  packages/stylus/src/plonk/kzg.rs
  packages/stylus/src/plonk/mod.rs
  packages/stylus/src/plonk/plonk.rs
  packages/stylus/src/plonk/srs.rs
  packages/stylus/src/plonk/transcript.rs
  packages/stylus/src/stark/mod.rs
  packages/stylus/src/stark/verifier.rs
  packages/stylus/src/verifier_traits.rs
  pnpm-lock.yaml
Due: rust-fmt

feat(stylus): Add Universal Proof Descriptor (UPD v2) - self-describing proof format
  packages/stylus/src/lib.rs
  packages/stylus/src/types.rs
Due: rust-fmt

feat(stylus): Add Cost-Aware Verification (Phase 3)
  packages/stylus/src/cost_model.rs
  packages/stylus/src/lib.rs
Due: rust-fmt

feat(stylus): Add Security Formalization (Phase 4)
  packages/stylus/src/lib.rs
  packages/stylus/src/security.rs
Due: rust-fmt

docs: Comprehensive README update with research-grade architecture
  README.md
Due: prettier

feat(sdk): Phase 5 - TypeScript SDK with UPD v2, cost model, and security types
  packages/sdk/README.md
  packages/sdk/src/cost-model.test.ts
  packages/sdk/src/cost-model.ts
  packages/sdk/src/index.ts
  packages/sdk/src/security.test.ts
  packages/sdk/src/security.ts
  packages/sdk/src/upd.test.ts
  packages/sdk/src/upd.ts
Due: prettier

refactor: Industry-grade patent-ready improvements
  README.md
  packages/stylus/src/plonk/mod.rs
  packages/stylus/src/stark/mod.rs
  packages/stylus/src/verifier_traits.rs
Due: rust-fmt, prettier

feat: Phase 6 - Patent draft, PLONK SRS registry, Winterfell assessment
  docs/PATENT_PROVISIONAL.md
  docs/WINTERFELL_INTEGRATION.md
  packages/stylus/src/lib.rs
Due: rust-fmt, prettier

Refactor: Groth16 Precompiles & Proprietary License
  LICENSE
  package.json
  packages/stylus/Cargo.toml
  packages/stylus/rust-toolchain.toml
  packages/stylus/src/groth16.rs
  packages/stylus/src/lib.rs
  packages/stylus/src/uzkv.rs
Due: rust-fmt, prettier

Docs: Update READMEs with Proprietary License
  README.md
  packages/sdk/README.md
Due: prettier

Phase 5: PLONK E2E Integration - All 32 tests passing
  packages/stylus/.cargo/config.toml
  packages/stylus/src/cost_model.rs
  packages/stylus/src/lib.rs
  packages/stylus/src/plonk/kzg.rs
  packages/stylus/src/plonk/mod.rs
  packages/stylus/src/plonk/plonk.rs
  packages/stylus/src/plonk/srs.rs
  packages/stylus/src/plonk/transcript.rs
  packages/stylus/src/types.rs
  packages/stylus/src/utils.rs
  packages/stylus/src/uzkv.rs
  packages/stylus/src/verifier_traits.rs
  packages/stylus/tests/plonk/plonk_tests.rs
Due: rust-fmt

Phase 6: STARK Verifier Implementation
  packages/stylus/src/stark/merkle.rs
  packages/stylus/src/stark/mod.rs
  packages/stylus/src/stark/verifier.rs
Due: rust-fmt

Phase 7: TypeScript SDK Update
  packages/sdk/src/contract-client.ts
  packages/sdk/src/index.ts
Due: prettier

Phase 8: Deployment & Verification Preparation
  DEPLOYMENT.md
  packages/sdk/src/e2e.test.ts
  scripts/deploy-stylus.sh
Due: prettier

Update README: Add Arbitrum Launchpad 2025 Winner badge and updated feature set
  README.md
Due: prettier

Fix build errors and warnings: Rust panic config, unused code cleanup, TS types
  packages/sdk/src/e2e.test.ts
  packages/stylus/Cargo.toml
  packages/stylus/src/groth16.rs
  packages/stylus/src/plonk/kzg.rs
  packages/stylus/src/plonk/plonk.rs
  packages/stylus/src/plonk/transcript.rs
  packages/stylus/src/uzkv.rs
Due: rust-fmt, prettier

Fix integration tests: restore arkworks dev-dependencies
  packages/stylus/Cargo.toml
Due: none

Fix: Enable git push by resolving pre-push hook failures
  lefthook.yml
  packages/stylus/Cargo.toml
  packages/stylus/src/bin/uzkv-cli.rs.disabled
  packages/stylus/tests/groth16_standalone.rs
Due: rust-fmt

Feat: Enable uzkv-cli and Dual-Mode Verification
  README.md
  lefthook.yml
  packages/stylus/Cargo.toml
  packages/stylus/README.md
  packages/stylus/src/bin/uzkv-cli.rs
  packages/stylus/src/groth16.rs
  packages/stylus/src/lib.rs
  packages/stylus/src/uzkv.rs
Due: rust-fmt, prettier

feat(universal): Upgraded to Production-Grade Generic STARK & Universal PLONK
  README.md
  packages/stylus/README.md
  packages/stylus/src/groth16.rs
  packages/stylus/src/lib.rs
  packages/stylus/src/plonk/host.rs
  packages/stylus/src/plonk/kzg.rs
  packages/stylus/src/plonk/mod.rs
  packages/stylus/src/plonk/plonk.rs
  packages/stylus/src/stark/constraints.rs
  packages/stylus/src/stark/fibonacci.rs
  packages/stylus/src/stark/merkle.rs
  packages/stylus/src/stark/mod.rs
  packages/stylus/src/stark/types.rs
  packages/stylus/src/stark/verifier.rs
  packages/stylus/src/uzkv.rs
Due: rust-fmt, prettier

docs: Fix mermaid syntax and expand architecture details
  README.md
  packages/stylus/README.md
Due: prettier

Path conditions:
  rust-fmt: any of: *.rs
  solidity-fmt: any of: *.sol
  prettier: any of: *.{ts,tsx,js,jsx,json,md}
